body{
    font-family: Lexend Deca ;
    font-size: 15px;
    font-weight: 400;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
}

.wrapper {
  display: flex;         
  height: 400px;
  width: 700px;
  margin: auto;
}

.wrapper > div {
  padding: 2em;
  flex:33.3%
}

.first_box {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.second_box {
    background-color: hsl(184, 100%, 22%);
}

.third_box {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 2rem;
    width: 110px;
}
.image {
    margin-top: 20px;
}

.info {
    margin-top: 25px;
    padding-right: 20px;

}

.btn {
    margin-top: 40px;
}

.sedan {
    color: hsl(31, 77%, 52%);
}

.sedan:active {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.suv {
    color: hsl(184, 100%, 22%);
}

.suv:active {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.luxury {
    color: hsl(179, 100%, 13%);
}

.luxury:active {
    background-color: hsl(179, 80%, 46%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: dodgerblue;
    color: white;
}

.top-nav {
    display: block;
    margin: auto;
    width: 250px;
    margin-bottom: 50px;
}

@media screen and (max-width: 375px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 5px 5px 5px 5px;
    }
}
